* {
    margin: 0;
    padding: 0;
}

body, code {
    font-family: Georgia, 'Times New Roman', serif;
}

body {
    background-image: url(/images/bg.jpg);
    margin: 40px auto;
    width: 940px;
    color: #5c5855;
}

.description h1 {
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.description h3 {
    color: #149ad4;
}

.description h1, .description h2, .description h3 {
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.8em;
    font-size: 17px;
}

.description ul {
    margin-bottom: 20px;
    list-style: disc inside;
}

.description ul li {
    font-size: 17px;
    line-height: 28px;
}

.description code {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 0.5em;
    font-size: 17px;
    color: #d14;
}

.description table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.description table th,
.description table td {
    border: 2px solid #ddd;
    padding: 6px 13px;
    font-size: 17px;
}

.description table td {
    text-align: justify;
    line-height: 1.8em;
}

#disqus_thread {
    border-top: 2px solid #d5d5d5;
    margin: 10px 0;
}

a {
    color: #149ad4;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.anchor h1, .anchor h2 {
    font-family: Chivo, "Helvetica Neue", Helvetica, Arial, serif;
    text-align: center;
    font-weight: 900;
    line-height: 1.1;
    color: #443a33;
}

.anchor h1 {
    margin-bottom: 25px;
    font-size: 63px;
}

.anchor h2 {
    margin-top: 24px;
    color: #149ad4;
    font-size: 27px;
    line-height: 70px;
    margin-bottom: 45px;
    vertical-align: middle;
    opacity: 1;
}

.anchor h2 span {
    color: #e9e6e2;
    font-size: 70px;
    padding: 0 5px;
    position: relative;
    top: 10px;
}

.footer {
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid #d5d5d5;
    font-size: 15px;
    color: #666;
    padding-top: 10px;
    padding-bottom: 100px;
    line-height: 1.8em;
}

.footer .left {
    float: left;
}

.footer .right {
    float: right;
}

.footer .right div {
    text-align: right;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.theme h1 {
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 50px;
}

.theme .chain_snippet {
    padding: 0 10px 20px 10px;
}

.theme .chain_snippet .prev {
    float: left;
}

.theme .chain_snippet .next {
    float: right;
}

.theme-tabs {
    margin-bottom: 20px
}

.theme-tabs .subject {
    padding-bottom: 10px;
}

.theme-tabs .subject .link {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #000;
}

.theme-tabs .tab-content .codeleft {
    float: left;
    width: 460px;
}

.theme-tabs .tab-content .coderight {
    float: right;
    width: 460px;
}

.highlight pre {
    font-family: "Source Code Pro", Consolas, Courier, monospace;
    white-space: pre;
    font-weight: 400;
    font-size: 14px;
    word-spacing: 0;
    line-height: 19px;
    padding: 12px;
}

.highlight {
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: auto;
    width: 100%;
}

.highlight table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
}

.highlight table td {
    text-align: left;
    border: none;
    padding: 0 0;
}

.toc_container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toc_container #btn {
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.toc_container #toc {
    display: none;
}

.toc_container #toc a {
    font-size: 14px;
}

.tocify ul, .tocify li {
    list-style: none;
    line-height: 30px;
}

.tocify li {
    padding: 5px;
}

.tocify .active {
    background-color: #F5F5F5;
}

.tocify-subheader {
    text-indent: 10px;
    display: none;
}